* {
    /*o * é o seletor universal do css
    aqui fizemos um reset de css que ja vem por padrao 
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/bg-mobile.jpg);

    background-repeat: no-repeat;
    /*para de repetir imagens, valor padrão do backeground URL*/
    background-position: top center;
    /*define a imagem ao centro pelo eixo y com o (top) e do eixo x com o (center*/
    background-size: cover;
    /*faz com que a imagem do background cubra todo o fundo da tela (cover). Independente do tamanho da tela.*/

}

body * {
    font-family: "Inter", sans-serif;
    color: white;
}

#container {
    /*não aplica em cima nem em baixo.*/
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;

}

#profile img {
    width: 118px;
    padding: 24px;
}

#profile {
    text-align: center;
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: -24px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: all .5s;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
}