* {
    /*o * é o seletor universal do css
    aqui fizemos um reset de css que ja vem por padrao 
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: var(surface-color);
    --switch-bg: url(./assets/sun.svg)
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --switch-bg: url(./assets/moon.svg);
}

body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    /*para de repetir imagens, valor padrão do backeground URL*/
    background-position: top center;
    /*define a imagem ao centro pelo eixo y com o (top) e do eixo x com o (center*/
    background-size: cover;
    /*faz com que a imagem do background cubra todo o fundo da tela (cover). Independente do tamanho da tela.*/
    height: 100vh;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color)
}

#container {
    /*não aplica em cima nem em baixo.*/
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 32px;

}

#profile img {
    width: 118px;
    padding: 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: -24px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24 0;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);

    border-radius: 8px;
    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: all .5s;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--text-color);
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    justify-content: center;
    padding: 16px;
    transition: all 0.5s;
    border-radius: 50%;
}

#social-links a:hover {
    background: rgba(255, 255, 255, 0.2);

}

footer {
    padding: 24px;
    text-align: center;
}

#switch {
    position: relative;
    width: 64px;
    margin: 12px auto;
    /*o absoluto do button se torna relativo a este, ou seja a posição em que movemomos o button, fica limitado o switch*/
}

#switch button {
    color: black;
    height: 32px;
    width: 32px;
    background: white var(--switch-bg) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    /*sobrepõe uma camada*/
    z-index: 1;
    /*muda o "andar" do button*/
    top: 50%;
    /*alinha o topo*/
    transform: translateY(-50%);

}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
    position: relative;
}

.light #switch button {
    /*o botão do switch no modo light faz:*/
    right: 0;
    left: initial;
}

@media(min-width:700px) {

    .light {
        --bg-url: url(./assets/bg-desktop-dark.jpg);
    }
}